<p>menu works!</p>
<a [routerLink]="['/menu',{outlets: {'data': ['User']}}]"> User</a> 
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a [routerLink]="['/menu',{outlets: {'data': ['UserSearch']}}]"> UserSearch</a> 
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a [routerLink]="['/menu',{outlets: {'data': ['Customer']}}]">Customer</a> 
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a [routerLink]="['/menu',{outlets: {'data': ['CustomerSearch']}}]"> CustomerSearch</a> 
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a [routerLink]="['/menu',{outlets: {'data': ['Employ']}}]"> Employ</a> 
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a [routerLink]="['/menu',{outlets: {'data': ['EmploySearch']}}]"> EmploySearch</a> 
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


<hr/>
<router-outlet name="data"></router-outlet>

